

h1.title { font-size: 32px; color: Black; }

h1 { /* Header 1 */ font-size: 32px; color: Black; font-weight: bold }

h2 { /* Header 2 */ font-size: 24px; color: Black; font-weight: bold }

h3 { /* Header 3 */ font-size: 18px; color: Black; font-weight: bold }

code.r{ /* Code block */ font-size: 14px; color: Black; }

body { /* Normal  */ font-size: 14px; color: Black; padding: 0px; margin: 0px; background-color: #E5E5E5 }

td {  /* Table  */ font-size: 14px; color: Black; }

p { font-size: 14px; color: Black; margin: 0px; text-align: justify;}

div { font-size: 14px; color: Black; line-height: normal;  }

pre { /* Code block - determines code spacing between lines */ font-size: 14px; }

.zoom:hover{
  transform: scale(1.05);
  transform-origin: 0% 0;
}


.myRole {
  /* background-color: white; */
  font-weight: bold;
  padding: 10px 0px;
  border-radius: 10px;
  font-size: 14px;
  margin: 0px;
  width: 70px;
  height: 20px;
  margin: 1px 0px;

}
img.minibutton {
  padding: 5px;
  border-radius: 0px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.9);

}

img.minibutton:hover {
  background-color: rgba(255, 255, 255, 1);
}


.menuButton {
  background-color: #E5E5E5;
  width:100%;
  border: none;
  color: #666666;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  text-align: right;
}

.button {
  background-color: #E5E5E5;
  border: none;
  color: #666666;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
}


.paperlink {
  background-color: white;
  border: none;
  /* color: #666666; */
  padding: 5px 10px;
  text-align: justify;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: alias;
}

.paperlink:hover{
  background-color: #F2F2F2;
  font-weight: normal;
}



#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background: #f2f2f2;
}

.myHighlight:hover {
  background-color: #F2F2F2;
}

.active {
  background-color: White;
  color: Black;
}

.wrapper{
  width: 1100px;
  height: 800px;
}


.myheader1 {
  width: 240px;
  padding: 0px;
  float: left;
  height: 800px;
}

.myheader2{
  width: 240px;
  padding: 20px 0px;
  text-align: right;
  position: fixed;
  /* position: absolute; */

}

.myContent1 {
  width: calc(100% - 240px);
  padding: 0px;
  float: left;
  height:100%;
}

.myContent2 {
  width: calc(100% - 40px);
  padding: 40px 20px;
  background-color: white;
  min-height:800px;
}

.profile_picture {
  border-radius: 50%;
  width: 100;
  height:100
}


@media screen and (max-width: 600px) {
  .menuButton img {
    width: 30px ;
    height: 30px ;
  }
  .menuButton {
    font-size: 0px;
    padding: 10px 15px;
  }
  .menuButton h1 {
    font-size: 0px;
  }
  .myheader1 {
    width: 60px;
  }
  .myheader2{
    padding: 20px 0px;
    width: 60px;
  }
  .myContent1 {
    width: calc(100% - 60px);
  }

}


 .tooltip {
   position: relative;
   display: inline-block;
 }

 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: #E5E5E5;
   color: black;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 120%;
   left: 50%;
   margin-left: -60px;
 }

 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #E5E5E5 transparent transparent transparent;
 }

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #f2f2f2; */
  /* background-color: white; */
}

/* Style the buttons inside the tab */
.tab button {
  /* background-color: inherit; */
  background-color: #E5E5E5;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 15px 10px;
  transition: 0.3s;
  font-size: 17px;
  border: 1px solid white;
  margin: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  border: 1px solid #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 10px;
  border: 1px solid #ccc;
  /* border-top: none; */
}


aa {
  border-radius: 5px;
  background: #ccc;
  padding: 0px 3px;
  font-weight: bold;
}
jj {
  border-radius: 5px;
  background: #f2f2f2;
  color: navy;
  font-weight: bold;
  padding: 0px 3px;
}
