

h1.title { font-size: 40px; color: Black; }

h1 { /* Header 1 */ font-size: 40px; color: Black;  }

h2 { /* Header 2 */ font-size: 16px; color: Black;}

h3 { /* Header 3 */ font-size: 18px; color: Black;}

code.r{ /* Code block */ font-size: 12px; color: Black;}

body{ /* Normal  */ font-size: 12px; color: Black;}

td {  /* Table  */ font-size: 12px; color: Black;}

p { font-size: 12px; color: Black;}

div { font-size: 12px; color: Black; }

pre { /* Code block - determines code spacing between lines */ font-size: 12px; }

.zoom:hover{
  transform: scale(1.1)
}
