<!doctype html>
<html>
<!-- <div style="background-color: #999999"></div> -->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Czarnewski</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width">

</head>
<body>
  <div style="background-color: #f2f2f2; height: 20px; position: fixed;"></div>
  <style> .wrapper{ width: 1100px; height: 800px} </style>
  <div class="wrapper">

    <div id="topmenu" style="width: 240px; padding: 0px; float: left; height:100%;">
      <style> header{ width: 240px; padding: 60px 0px; text-align: right;} </style>
      <header>
        <br/>
        <a href="https://czarnewski.github.io/czarnewski/">
          <button class="menuButton myHighlight" style="width:100%; text-align: right; padding: 0 20px;">
            <img style="border-radius: 50%;" src="/czarnewski/logos/profile_picture.jpg" width="200", height="200">
            <br/>
            <h1 style="text-align:center">Paulo Czarnewski</h1>
          </button>
          <!-- <div class="zoom" style="padding: 0 20px;">
            <img style="border-radius: 50%;" src="/czarnewski/logos/profile_picture.jpg" width="200", height="200">
            <br/>
            <h1 style="text-align:center">Paulo Czarnewski</h1>
          </div> -->
        </a>
        <br/>
        <a href="/czarnewski/publications.html">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            Publications&nbsp;&nbsp;
            <img border="0" src="https://static.thenounproject.com/png/1143700-200.png" width="20" height="20" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/czarnewski/teaching.html">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            Teaching&nbsp;&nbsp;
            <img border="0" src="https://icon-library.com/images/teaching-icon-png/teaching-icon-png-20.jpg" width="20" height="20" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/czarnewski/career.html">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            Career&nbsp;&nbsp;
            <img border="0" src="https://static.thenounproject.com/png/199301-200.png" width="20" height="20" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/czarnewski/employments.html">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            Employments&nbsp;&nbsp;
            <img border="0" src="https://i.pinimg.com/originals/b4/8d/d8/b48dd8ff9da1136d1caac40b2632fae9.png" width="20" height="20" style="vertical-align:middle;">
          </button>
        </a>
        <a href="/czarnewski/education.html">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            Education&nbsp;&nbsp;
            <img border="0" src="https://icon-library.com/images/education-icon-free/education-icon-free-1.jpg" width="20" height="20" style="vertical-align:middle;">
          </button>
        </a>


        <hr>
        <a href="{{ site.github.repository_url }}" target="_blank">
          <button class="menuButton myHighlight" style="width:100%; text-align: right">
            GitHub&nbsp;&nbsp;
            <img border="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" width="20" height="20" style="vertical-align:middle;">&nbsp;&nbsp;
          </button></a>
        </header>
      </div>

      <div style="width: calc(100% - 240px); padding: 0px; float: left; height:100%;">
        <style> section{ width: auto; padding: 60px 30px; background-color: white; min-height:800px;} </style>
        <section>
          <div>
            {{ content }}
          </div>

        </section>
      </div>


    </div>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script> -->

    <script type="text/javascript">
    // var header = document.getElementsByClassName("topmenu");
    // console.log(header)
    // var btns = header.getElementsByClassName("button");
    // for (var i = 0; i < btns.length; i++) {
    //   btns[i].addEventListener("click", function() {
    //     var current = document.getElementsByClassName("active");
    //     current[0].className = current[0].className.replace(" active", "");
    //     this.className += " active";
    //   });
    // }
    var btns = document.getElementsByClassName("menuButton")
    var url = window.location.href
    for (var i = 0; i < btns.length; i++) {
      if (url  == btns[i].closest("a").href) {
        btns[i].classList.add('active')
      }
    }
    // $(function() {
    //     // this will get the full URL at the address bar
    //     var url = window.location.href;
    //     console.log(url)
    //
    //     // passes on every "a" tag
    //     $(".topmenu a").each(function() {
    //         // checks if its the same on the address bar
    //         console.log(this.href)
    //         if (url == (this.href)) {
    //             $(this).closest("button").classList.add('active');
    //             //for making parent of submenu active
    //         }
    //     });
    // });
    </script>
    <footer>
      <!-- <div style="width:100%;background-color: #f2f2f2; height:20px;"></div> -->
    </footer>
  </body>
  </html>
